@use '../abstracts' as *;

.card {
    background: $white;
    margin: 1.5rem;
    border-radius: 0.6rem;
    max-width: 45.6rem;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba($color: $dark-gray-blue, $alpha: 0.1);

    &__image {
        background-image: url(/img/drawers.jpg);
        background-position: center;
        background-size: cover;
        height: 12.5rem;
        opacity: 0.92;
        object-position: 10px;
    }

    &__details {
        padding: 1.5rem 2.31rem 1.25rem 2rem;
    }
}

@media (min-width: $layout-breakpoint-desktop) {
    .card {
        display: flex;
        &__image {
            height: 18rem;
            width: 49rem;
        }
        &__details {
            padding: 1.5rem 2.8rem 1.25rem 2.3rem;
        }
    }
}