//COLORS

$dark-gray-blue: hsl(217, 19%, 35%);
$des-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);
$clr-link-outline: hsl(0, 0%, 100%);
$neutral-dark-blue: hsl(213, 19%, 18%);

//TYPOGRAPHY

$fs-body: 0.8125rem;
$ff-primary: 'Manrope', sans-serif;
$fw-primary: 500;
$fw-secondary: 700;

//BREAKPOINTS

$layout-breakpoint-desktop: 62em;